<h1>New Recipe</h1>

<!-- <div style="display: block; padding: 10px" id="recipe_div">
  <%= @recipes_builder.recipe.recipe_type %>: Oi eu sou o goku!
</div> -->

<%= form_for(@recipes_builder.recipe) do |f| %>
  <% if @recipes_builder.recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipes_builder.recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipes_builder.recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Descrição" %><br>
    <%= f.text_field :description %>
  </div>
  <div class ="field">
    <%=f.label :ingredients, "Ingredientes"%><br>
    <%= form_tag ingredients_path, :method => 'get', :id => "ingredients_search" do %>
      <div id="ingredients"><%= render 'ingredients_field' %></div>
    <% end %>
    <p id="notice"><%= notice %></p>
  </div>
  <div class="field">
    <%= f.label :instructions, "Instruções" %><br>
    <%= f.text_field :instructions %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separadas por vírgula)" %><br>
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', recipes_path %>
