
<h1>Listing Ingredients</h1>

<%= form_tag ingredients_path, :method => 'get', :id => "ingredients_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="ingredients"><%= render 'ingredients' %></div>
<% end %>

<%= link_to 'New Ingredient', new_ingredient_path %>
