<div class='navbar-fixed'>
  <nav class='primary'>
    <div class='nav-wrapper'>
      <ul class='left hide-on-med-and-down'>
        <li>
          <%= link_to root_path, method: :get do %>
            <img class="responsive-img" id="header-logo" src="/logo.png">
          <% end %>
        </li>
        <li>
          <%= link_to 'Receitas', recipes_path, method: :get %>
        </li>
        <li>
          <%= link_to 'Sobre', about_path, method: :get %>
        </li>
      </ul>
      <ul class='right hide-on-med-and-down'>
        <% if user_signed_in? %>
          <li><%= link_to 'Perfil', user_path(current_user.id) %></li>
          <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href="#sign-in-modal">Entrar</a></li>
          <li><%= link_to 'Cadastre-se', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<div id="sign-in-modal" class="modal">
  <%= form_for :user, url: session_path(:user) do |f| %>
    <div class="modal-content">
      <h4 class="center-align">Login</h4>
      <div class="input-field col">
        <!-- <i class="material-icons prefix">email</i> -->
        <%= f.text_field :email %>
        <%= f.label :email, 'E-mail' %>
      </div>
      <div class="input-field col">
        <!-- <i class="material-icons prefix">vpn_key</i> -->
        <%= f.password_field :password, autocomplete: 'off' %>
        <%= f.label :password, 'Senha' %>
      </div>
      <div class="input-field col">
        <input type="checkbox" id="remember-me" value="remember-me" checked="checked" />
        <label for="remember-me">Mantenha-me conectado</label>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Entrar', class: 'modal-action modal-close waves-effect waves-green btn-flat' %>
    </div>
  <% end %>
</div>
