<div class="container">
  <div class="row">
    <div class="col m10 offset-m1 s12">
      <h2 class="center-align">Cadastro</h2>
      <h6 class="center-align"><em>Venha fazer parte da comunidade EasyCook!</em></h6>

      <div class="row">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 's12') do |f| %>
          <%= devise_error_messages! %>

          <div class="row">
            <div class="input-field col m6 s12">
              <%= f.text_field :first_name %>
              <%= f.label :first_name, "Nome" %>
            </div>
            <div class="input-field col m6 s12">
              <%= f.text_field :last_name %>
              <%= f.label :last_name, "Sobrenome" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col m6 s12">
              <i class="material-icons prefix">account_circle</i>
              <%= f.text_field :username %>
              <%= f.label :username, "Nome de Usuário" %>
            </div>
            <div class="input-field col m6 s12">
              <i class="material-icons prefix">email</i>
              <%= f.email_field :email %>
              <%= f.label :email, "E-mail" %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col m6 s12">
              <%= f.password_field :password, autocomplete: "off" %>
              <%= f.label :password do %>
                <% if @minimum_password_length %>
                  Senha <em>(mínimo de <%= @minimum_password_length %> caracteres)</em>
                <% else %>
                  Senha
                <% end %>
              <% end %>
            </div>
            <div class="input-field col m6 s12">
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
              <%= f.label :password_confirmation, "Confirmação de Senha" %><br />
            </div>
          </div>

          <div class="row">
            <div class="col m12">
              <p class="center-align">
                <%= f.submit "Confirmar cadastro", class: "btn btn-large waves-effect waves-light" %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
